.navbar {
  border-bottom: 1px solid rgb(238, 231, 231);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
.header h1 {
  margin: 0px 0px 0px 530px;
  font-size: 25px;
}
.logo-container {
  display: flex;
  padding: 30px;
  margin-left: auto;
}
.logo-container > * {
  margin-right: 15px;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}
.header-list li {
  padding: 0px 30px 0px 30px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
}


@media screen and (max-width: 767px) {
  .header {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
  }
  .header svg{
    width: 36px;
  }
  
  .header h1 {
    margin-left: 100px;
    margin-right: auto;
    font-size: 29px;
  }

  .logo-container {
    padding: 20px;
  }
   .logo-container svg{
    width: 25px;
   }

   .logo-container > *:nth-child(4),
.logo-container > *:nth-child(5) {
   display: none;
}
  .header-list {
    margin-left: -30px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .header-list li {
    padding: 10px 15px;
    font-size: 16px;
  }
}